#container{
    padding: 0 0 6% 2%;
    font-size: 16px;
}

td {
    padding: 8px 10px 8px 10px;
    text-align: center;
}

table {
    box-shadow: 6px 6px 15px 0px #42876f;

}

table, tr, td, th {
    border-collapse: collapse;
    border: 2px solid #58b596;
    background-color: #7fffd4;
}

.button {
    font-size: 16px;
    font-weight: 600;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.cursorr {
    cursor: pointer;
}

#notCursorr {
    cursor: default;
}