body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.node {
    width: max-content;
    margin: 0;
    display: block;
    cursor: pointer;
    user-select: none;
}

.node-head {
    float: left;
}

.children-container {
    padding-left: 24px;
    display: inline-block;
}

.icon, .arrow {
    vertical-align: sub;
}

.icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.arrow {
    width: 18px;
    height: 18px;
    transition: 0.5s;
}

.arrow.rotated {
    transform: rotate(90deg);
}

.arrow.hidden {
    visibility: hidden;
}

.App {
    margin: 3%;
}